/*
    colors used:
    #2A2438 - main background
    #352F44 - header background
    #5C5470 - footer background
    #DBD8E3 - text color
*/

* {
    animation: start 0.5s forwards;
    padding: 0;
    margin: 0;
    user-select: none;
    color: #DBD8E3;
}

@keyframes start {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#app {
    background-color: #2A2438;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.navbar {
    width: 100vw;
    height: 7vh;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #352F44;
}

.logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 25px;
}

.title {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family: Panton,sans-serif;
    font-family: "Panton Narrow",sans-serif;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 20px;
    position: relative;
    font-family: Panton,sans-serif;
}

    .navbar ul li a {
        text-decoration: none;
        text-transform: uppercase;
    }

    .navbar ul li::after {
        content: "";
        height: 3px;
        width: 0;
        background: var(--theme);
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: .3s;
    }

    .navbar ul li:hover::after {
        width: 100%;
    }

.content {
    padding: 20px;
    font-size: 130%;
}

#what {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#ciraxImage {
    margin-top: -20px;
}

.smaller-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    margin-right: -20px;
}

#members {
    width: 100%;
}

#members img {
    float: right;
    padding-top: 5px;
}

#zhornix {
    transform: rotate(17deg);
}

#dada {
    transform: rotate(75deg);
}

#cirax856 {
    transform: rotate(29deg);
}

#xen {
    transform: rotate(347deg);
}

#alex {
    transform: rotate(287deg);
}

#qwertlyn {
    transform: rotate(28deg);
}

#dmytri {
    transform: rotate(69deg);
}

#asmir {
    transform: rotate(54deg);
}

#onik {
    transform: rotate(71deg);
}

#comtext {
    float: right;
    width: 400px;
    padding-top: 75px;
}

.space {
    padding: 50px 0;
}

#footer {
    width: 100vw;
    height: 10vh;
    background-color: #5C5470;
}

    #footer p {
        line-height: 10vh;
        text-align: center;
    }

@media(max-width:700px) {
    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    #comtext {
        padding-top: 0;
        float: none;
    }

    .navbar {
        justify-content: center;
        word-spacing: -50px;
    }
}

@media(max-width:413px) {
    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    #comtext {
        padding-top: 0;
        float: none;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        font-size: 12.5px;
        position: relative;
        font-family: Panton,sans-serif;
    }
}

@media(max-width:334px) {
    .title {
        display: none;
    }

    .logo {
        display: none;
    }

    #comtext {
        padding-top: 0;
        float: none;
    }

    .navbar ul li {
        list-style: none;
        display: inline-block;
        margin: 0 7px;
        font-size: 12.5px;
        position: relative;
        font-family: Panton,sans-serif;
    }
}