/*
    colors used:
    #2A2438 - main background
    #352F44 - header background
    #5C5470 - footer background
    #DBD8E3 - text color
*/

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
    background-color: #2A2438; 
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    text-align: center;
    color: #fff;
}

.biglogo {
    text-align: center;
    margin-bottom: -75px;
    opacity: 0;
    animation: 1s fade forwards;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    font-family: Panton,sans-serif;
    font-family: "Panton Narrow";
    opacity: 0;
    animation: 1s fade 2s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media(max-width:600px) {
    .content h1 {
        animation: none;
        opacity: 0;
    }
}